.block {
  &:focus-visible {
    outline: none;

    & > * {
      outline: 3px solid color-mix(in oklab, var(--ring) 50%, transparent);
    }
  }
}

.isOver {
  z-index: 8000;
}

.isOver:not(:has(> .unassigned)) {
  transition: transform 0.2s ease-out;

  transform: translate(-20px, -80px) rotate(-10deg);
}

.isOver:has(> .unassigned) {
  transition: transform 0.1s ease-in-out;

  transform: scale(1.05);
}

.isDragging {
  z-index: 9999;
}

.unassigned {
  border-width: 2px;
  border-style: dashed;
  border-color: color-mix(in oklch, var(--color-primary) 50%, white);
  box-shadow: none;
  color: var(--unassigned-foreground);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.tag {
  display: inline-flex;
  align-items: center;
  border-radius: 9999px;
  background-color: var(--color-gray-100);
  padding: 0.125rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--color-gray-600);
}

.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  min-height: 2lh;
}
