.block {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(
    7,
    minmax(calc(var(--token-base-scale) * 50), 1fr)
  );
  grid-template-rows: calc(var(--token-base-scale) * 20) 1fr;
  gap: 0 calc(var(--token-base-scale) * 4);

  overflow: auto;

  user-select: none;

  & h2 {
    display: flex;
    align-items: center;
    gap: calc(var(--token-base-scale) * 2);

    padding: calc(var(--token-base-scale) * 2);

    text-transform: capitalize;
    font-weight: bold;
  }
}

.date {
  font-weight: normal;
  color: var(--color-gray-500);
}

.shifts {
  display: grid;
  grid-template-columns: subgrid;
  grid-auto-rows: auto;
  gap: calc(var(--token-base-scale) * 4);

  grid-column: 1 / 8;
  grid-row: 2 / 3;
}

.department {
  display: grid;
  grid-template-columns: subgrid;

  grid-column: 1 / -1;
}

.dayColumn {
  display: grid;
  grid-auto-rows: calc(var(--token-base-scale) * 50);
  gap: calc(var(--token-base-scale) * 2);
}
