.block {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns:
    calc(var(--token-base-scale) * 8)
    repeat(7, minmax(calc(var(--token-base-scale) * 50), auto));
  grid-template-rows: calc(var(--token-base-scale) * 20) auto;
  grid-template-areas:
    "weekdays weekdays weekdays weekdays weekdays weekdays weekdays weekdays"
    "shifts shifts shifts shifts shifts shifts shifts shifts";
  gap: 0 calc(var(--token-base-scale) * 4);

  overflow: auto;

  user-select: none;

  & h2 {
    display: flex;
    align-items: center;
    gap: calc(var(--token-base-scale) * 2);

    padding: calc(var(--token-base-scale) * 2);

    text-transform: capitalize;
    font-weight: bold;
  }
}

.weekdays {
  grid-area: weekdays;

  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: auto;

  position: sticky;
  top: 0;
  z-index: 10;

  border-bottom: 1px solid var(--color-gray-300);

  background: linear-gradient(to bottom, var(--background), transparent);
  backdrop-filter: blur(10px);
}

.date {
  font-weight: normal;
  color: var(--color-gray-500);
}

.shifts {
  padding-bottom: calc(var(--token-base-scale) * 8);
  display: grid;
  grid-template-columns: subgrid;
  grid-auto-rows: auto;
  gap: calc(var(--token-base-scale) * 4);

  grid-area: shifts;
}

.department {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: calc(var(--token-base-scale) * 10) 1fr;

  grid-column: 1 / -1;
}

.departmentHeader {
  grid-column: 1 / -1;

  padding: calc(var(--token-base-scale) * 2);
  border-top: 1px solid var(--color-gray-300);
  background: transparent;

  font-size: 0.875rem;
  font-weight: 600;
  color: var(--color-gray-600);
}

.department:first-child {
  & .departmentHeader {
    border-top: none;
  }
}

.departmentShifts {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 2 / -1;
}

.dayColumn {
  display: flex;
  flex-direction: column;
  gap: calc(var(--token-base-scale) * 2);

  & .addShift {
    opacity: 0;
    pointer-events: none;

    &:focus-visible {
      opacity: 1;
    }
  }

  &:hover,
  &:focus-within {
    & .addShift {
      opacity: 1;
      pointer-events: all;
    }
  }
}
