.block {
  padding: calc(var(--token-base-scale) * 2);
  display: flex;
  gap: var(--token-base-scale);

  & > * {
    display: flex;
    flex-grow: 1;
    gap: var(--token-base-scale);
  }
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.icon {
  height: calc(var(--token-base-scale) * 4);
  width: calc(var(--token-base-scale) * 4);
}

.popoverContent {
  width: auto;
  padding: 0;
}

.calendarFooter {
  display: flex;
  justify-content: flex-end;
  gap: calc(var(--token-base-scale) * 2);
  padding: calc(var(--token-base-scale) * 3);
  border-top: 1px solid var(--border);
}

.destructiveItem {
  color: var(--destructive);
}
