:root {
  --token-base-scale: 4px;
}

body {
  min-height: 100vh;

  display: grid;
  place-content: center;
}

#root {
  height: 90vh;
  width: 90vw;

  display: flex;
  flex-direction: column;
  gap: calc(var(--token-base-scale) * 4);
}
